body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: gray;
}

h1 {
  text-align: center;
  color: white;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: darkcyan;
  color: white;
}

fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: cadetblue;
}

legend {
  font-weight: bold;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

select {
  width: 99%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: indigo;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  margin-right: 10px;
}

p {
  margin-bottom: 5px;
}

/* Estilo para el botón de Restablecer */
button[type="reset"] {
  background-color: #ccc;
  color: #333;
}

/* Estilo para el mensaje de campo obligatorio */
p.required-msg {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

/* Estilo para los íconos de actividades */
fieldset legend::before {
  content: attr(emoji);
  margin-right: 10px;
}

/* Estilo para el botón de checkbox Acepto las condiciones y Deseo recibir novedades */
input[type="checkbox"] + label {
  display: inline-block;
  margin-bottom: 5px;
}

/* Estilo para los checkboxes seleccionados */
input[type="checkbox"]:checked + label {
  font-weight: bold;
}
